{% extends "base.html" %}

{% block body %}
<section style="background-color: #9de2ff;">

  <div class="container-fluid">
    <div class= 'container py-3 h-100'>
      <div  align = "justify" >
        <div class="col-lg-12" >
          <div class="card mb-4" style="border-radius: 15px;">
            <div class="card-body text-center">
              {% comment %} <img src="/media/{{data.admin_img}}" alt="admin image"
              class="rounded-circle img-fluid" style="width: 150px;" 
              > {% endcomment %}
              {% comment %} onerror="this.src='path of the default image'"> {% endcomment %}
              <h5 class="my-3">{{data.adminname}}</h5>
              {% comment %} <p class="text-muted mb-1">Supervisor - {{data.supervisor_id}}</p> {% endcomment %}
              <p class="text-muted mb-1">{{data.email}}</p>
              {% comment %} <p class="text-muted mb-1">{{data.phone}}</p> {% endcomment %}
              {% comment %} <p class="text-muted mb-4">{{data.address}}</p> {% endcomment %}
              <div class="d-flex justify-content-center mb-2">
                  <form action="/admin_edit_profile">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary me-1 flex-grow-1">edit profile</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container py-3 h-100">
    <div class="row ">
      <div class="col col-md-12">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                {% comment %} <img src="/media/{{p.7}}"
                  alt="property_image" class="img-fluid"
                  style="width: 180px; border-radius: 10px;"> {% endcomment %}
              </div>
              <div class="flex-grow-1 ms-3">
                

                  {% comment %} <div style="color: #2b2a2a;" align="right">
                    <p class="small text-muted mb-1">

                      #{{p.0}}
                    </p>
                  </div> {% endcomment %}
                  {% comment %} <h5 class="mb-1">{{p.3}}</h5> 
                
                <p class="mb-2 pb-1" style="color: #2b2a2a;">{{p.2}}fasd</p> {% endcomment %}
                <div class="d-flex justify-content-start rounded-3 p-2 py-3 mb-3"
                  style="background-color: #efefef;"
                  >
                  {% comment %} onerror="this.src='path of the default image'"> {% endcomment %}
                  <div class="px-5">
                    <p class="small text-muted mb-1">No. of Employees</p>
                    <p class="mb-0" align = 'center'>{{data.t_emp.0}}</p>
                  </div>
                  <div class="px-5">
                    <p class="small text-muted mb-1">No. of Users</p>
                    <p class="mb-0" align = 'center'>{{data.t_user.0}}</p>
                  </div>
                  <div class="px-5">
                    <p class="small text-muted mb-1">No. of Properties</p>
                    <p class="mb-0" align = 'center'>{{data.t_property.0}}</p>
                  </div>
                  <div class="px-5">
                    <p class="small text-muted mb-1">Auction Status</p>
                    <a href="auction" class="card-link">

                      <p class="mb-0" align = 'center'>{{data.a_status}}</p>
                    </a>
                  </div>
                  
                </div>
         
</section>
  {% endblock %}
