 {% extends 'base.html' %}

{% block body  %}

<div class="container text-center mt-5">
    <h3>Auction {{auc_id}} will start on {{auc_date}}</h3>
    <button type="button" class="btn btn-primary btn-lg" href="/join_auction">Info</button>
</div>

<h5 class="mt-5">Properties offered in the Auction</h5>
<div class="container">
    <div class="row">
        {% for prop in prop_list %}
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <h5 class="card-title">{{prop.1}}</h5>
                <img src="/media/{{prop.0}}" class="card-img-top" alt="...">
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock  %}

