{% extends 'base.html' %}

{% block body %}

<div class = 'container my-3'>
    <h3>Add property to Auction:  {{auct_id}}</h3>
    <form action = "/add_auction_property" method ="post" enctype="multipart/form-data" >
      {%csrf_token%}
        
      <div class="mb-3">
        <label for='hired_agent' class="form-label">Select Agent</label>
        <select class="form-select" aria-label="Property" id = 'prop_id' name='prop_id'  required>
          {% for property in properties %}
          <option value={{property.0}}>{{property.1}} > ID: {{property.0}}  </option>
          {% endfor %}
        </select>
      </div>
      
      <div class="mb-3">
        <label for="starting_price" class="form-label">Starting Price:</label>
    <input type="text" class="form-control" id="starting_price" name= "starting_price" >
  </div>

      <div class="mb-3">
          <label for="confirm_password" class="form-label">Confirm Password: </label>
          <div class="col-sm-3">
              <input type="password" class="form-control" id="confirm_password" name="confirm_password">
            </div>
        </div>
      
        <div class="mb-3">
            <button type="submit" id = 'auct_id' name = 'auct_id' value={{auct_id}} class="btn btn-primary">Save</button>
            
        </div>
      
    </form>
  </div>


{% endblock %}