{% extends 'base.html' %}

{% block body %}

<form>
  <div class="mb-3">
    <label for="name" class="form-label">Property Name:</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>
  <div class="mb-3">
    <label for="uid" class="form-label">User ID:</label>
    <input type="text" class="form-control" id="uid" required>
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location:</label>
    <input type="text" class="form-control" id="location" required>
  </div>

  <div class="mb-3">
    <label for="size" class="form-label">Size:</label>
    <input type="text" class="form-control" id="size" required>
  </div>

  <div class="mb-3">
    <label for="type" class="form-label">Type:</label>
    <input type="text" class="form-control" id="type" required>
  </div>

  <div class="mb-3">
    <label for="price" class="form-label">Price:</label>
    <input type="text" class="form-control" id="price" required>
  </div>

  <div class="mb-3">
      <input type="radio" id="status" name = "st">
      <label for="status" >For Sale</label>
      <input type="radio" id="status" name = "st">
      <label for="status" >Not For Sale</label>
  </div>
  <button type="submit" class="btn btn-primary">Register Property</button>
</form>

{% endblock %}