{% extends 'base.html' %}

{% block body %}
<div class = 'container my-3'>

  <form action = "/property_save" method ="post" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="mb-3">
      <label for="property_name" class="form-label">Property Name:</label>
      <input type="text" class="form-control" id="property_name" name="property_name" required>
    </div>
  
    <div class="mb-3">
      <label for="location" class="form-label">Location:</label>
      <input type="text" class="form-control" id="location" name = "location" required>
    </div>
  
    <div class="mb-3">
      <label for="size" class="form-label">Size:</label>
      <input type="text" class="form-control" id="size" name= "size" required>
    </div>
  
    <div class="mb-3">
      <label for="type" class="form-label">Type:</label>
      <input type="text" class="form-control" id="type" name = "type" required>
    </div>
  
    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="text" class="form-control" id="price" name = "price" required>
    </div>
    
    <div class="mb-3">
      <label for='hired_agent' class="form-label">Select Agent</label>
      <select class="form-select" aria-label="Agent" name = 'hired_agent' id='hired_agent' required>
        {% for agent in agents %}
        <option value={{agent.0}}>{{agent.1}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-3">
      <label for="Status" class="form-label">Status:</label>
      <input type="text" class="form-control" id="status" name = "status" required>
    </div>

    <div class="mb-3">
      <label for="property_img" class="form-label">Upload Property Image</label>
      <div class="col-sm-3">
          <input type="file" class="form-control" id="property_img" name="property_img">
      </div>
      <div class='container my-3'>
      <button type="submit" class="btn btn-primary">Save</button>
      </div>
      
      {% comment %} <button type="submit" class="btn btn-primary" id="button_submit">Submit</button> {% endcomment %}
      
  </form> 
 
    
    {% comment %} <div class="mb-3">
        <input type="radio" id="status" name = "status" value = "for sale">
        <label for="status" >For Sale</label>
        <input type="radio" id="status" name = "status" value = "not for sale">
        <label for="status" >Not For Sale</label>
    </div> {% endcomment %}
 
</div>

{% endblock %}