{% extends 'base.html' %}

{% block body %}

<div class = 'container my-3'>
  <h3>Remove Property from Auction:  {{auc_id}}</h3>
  <form action = "/remove_auction_property" method ="post" >
    {%csrf_token%}
        
    <div class="mb-3">
      <label for='prop_id' class="form-label">Select Property</label>
      <select class="form-select" aria-label="Property" id = 'prop_id' name='prop_id'  required>
        {% for property in properties %}
          <option value={{property.0}}>ID: {{property.0}}  </option>
        {% endfor %}
      </select>
    </div>
      

    <div class="mb-3">
      <label for="confirm_password" class="form-label">Confirm Password: </label>
      <div class="col-sm-3">
        
          <input type="password" class="form-control" id="confirm_password" name="confirm_password">
      </div>
    </div>
      
    <div class="mb-3">
      <button type="submit" id = 'auct_id' name = 'auct_id' value={{auc_id}} class="btn btn-danger">Remove</button>
    </div>
  </form>
</div>


{% endblock %}