{% extends "base.html" %}

{% block body %}

<div class="container">
    <h3>User Information  </h3>
    <p>
        <b>User Name:</b> {{user_name}} <br>
        <b>Email:</b> {{user_email}} <br>
        <b>Address</b> {{user_address}} <br>
        <b>Inster Image</b> <br>
    </p>
    <h3>User Property Information  </h3>
    {% for prop in user_prop %}
        <div class="card" style="width: 18rem;">
            <h5>{{prop.1}}</h5>
            <img src="/media/{{prop.0}}" class="card-img-top" alt="...">
        </div>
    {% endfor %}

        
    </div>
    <form action='/property_registration'>
        <div class='container'>
            <a 3ref = "/property_registration">
                <button type="submit" class="btn btn-primary" id="property_registration" >Register Property</button>
            <a>

        </div>
    </form>
    </div>
</div>
{% endblock %}
