{% extends "base.html" %}

{% block body %}
<section style="background-color: #9de2ff;">

  <div class="container-fluid">
    <div class= 'container py-3 h-100'>
      <div  align = "justify" >
        <div class="col-lg-4" >
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="/media/{{user_img}}" alt="user image"
              class="rounded-circle img-fluid" style="width: 150px;" 
              >
              {% comment %} onerror="this.src='path of the default image'"> {% endcomment %}
              <h5 class="my-3">{{username}}</h5>
              <p class="text-muted mb-1">{{email}}</p>
              <p class="text-muted mb-4">{{address}}</p>
              <div class="d-flex justify-content-center mb-2">
                  <form action="/user_edit_profile">
                    <button type="submit" class="btn btn-outline-primary me-1 flex-grow-1">edit profile</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if prop %}
  {% for p in prop %}
  <div class="container py-3 h-100">
      <div class="row ">
        <div class="col col-md-12">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-4">
              <div class="d-flex text-black">
                <div class="flex-shrink-0">
                  <img src="/media/{{p.9}}"
                    alt="property_image" class="img-fluid"
                    style="width: 180px; border-radius: 10px;">
                </div>
                <div class="flex-grow-1 ms-3">
                  

                    <div style="color: #2b2a2a;" align="right">{{p.0}}</div>
                    <h5 class="mb-1">{{p.3}}</h5> 
                  
                  <p class="mb-2 pb-1" style="color: #2b2a2a;">{{p.2}}</p>
                  <div class="d-flex justify-content-start rounded-3 p-2 mb-3"
                    style="background-color: #efefef;"
                    >
                    {% comment %} onerror="this.src='path of the default image'"> {% endcomment %}
                    <div class="px-5">
                      <p class="small text-muted mb-1">[Size]</p>
                      <p class="mb-0">{{p.4}}</p>
                    </div>
                    <div class="px-5">
                      <p class="small text-muted mb-1">[type]</p>
                      <p class="mb-0">{{p.5}}</p>
                    </div>
                    <div class="px-5">
                      <p class="small text-muted mb-1">[Price]</p>
                      <p class="mb-0">{{p.6}}</p>
                    </div>
                    <div class="px-5">
                      <p class="small text-muted mb-1">[Agent]</p>
                      <a href="">
                          <p class="mb-0">{{p.8}}</p>
                      </a>
                    </div>
                    <div class="px-5">
                      <p class="small text-muted mb-1">[Status]</p>
                      <p class="mb-0">{{p.1}}</p>
                    </div>
                  </div>
                  <form action="/fetch_property" method = "POST">
                    {% csrf_token %}
                    <div class="d-flex pt-1">
                      
                      {% comment %} c  {% endcomment %}
                      <input type="hidden" name = 'property_id' value= {{p.0}}>
                      {% comment %} c {% endcomment %}
                      <button type="submit" class="btn btn-outline-primary me-1 flex-grow-1">Edit info</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% endif %}




    <div class='container'>
      <form action='/property_registration'>
        <div class="container py-3 h-10">
          <button type="submit" class="btn btn-primary" id="property_registration" >Register Property</button>
        </div>
      </form>
    </div>
</section>
  {% endblock %}
